# Virtual environment
.venv/
venv/
env/

# Data files (ignore heavy data contents, keep folder structure via .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Generated plot images (ignore generated PNGs, keep plots folder via .gitkeep)
plots/*
!plots/.gitkeep

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and OS files
.env
.DS_Store
Thumbs.db
